body {
  margin: 0;
  text-align: center;
  font-family: 'Rubik', sans-serif;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #354259;
  width: 5%;
  border-width: 6px;
  opacity: 33;
}
h1 {
  font-size: 7rem;
  color: #66BFBF;
  margin: 50px auto 0 auto;
  font-family: 'Courgette', sans-serif;
  line-height: 2;
}
h2 {
  font-size: 2.5rem;
  font-weight: normal;
  color: #66BFBF;
  font-family: "Audiowide", sans-serif;
}
h3 {
  font-family: "Audiowide", sans-serif;
  color: #11999E;
}
a {
  color: #11999E;
}
.pro {
  text-decoration: underline;
}


.top {
  background-color: #D3EBCD;
  position: relative;
  padding-top: 100px;
}
.top-cloud {
  max-width: 10%;
  height: auto;
  position:absolute;
  right: 17%;
  top: 3%;
}
.bottom-cloud {
  max-width: 25%;
  height: auto;
  position: absolute;
  left: 10%;
  bottom: 30%;
}

.mountain {
  padding-top: 180px;
}
.middle {


}
.zakiphoto {
  width: 150px;
}
.skill-row {
  text-align: left;
  line-height: 1.5;
  width: 50%;
  margin: 100px auto 100px auto;
}
.cpu {
  width:30%;
  float: left;
  margin-right: 30px;
}

.football {
  width: 30%;
  float: right;
  margin-left: 30px;
}

.bottom {

}
